.full-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.form-group{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    min-width: 70px;
    text-align: right;
}

form input[type="email"],
form input[type="password"] {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
    border-radius: 4px;
  font-size: 16px;
  flex-grow: 1;
}

form button[type="submit"] {
  padding: 10px 15px;
    border-radius: 4px;
    margin: 0 auto;
}