<div style="display: flex; justify-content: space-between; align-items: center;">
  <div style="display: flex; align-items: center;">
      <img src="/assets/img/logo.png" alt="Logo" style="height: 50px; width: 50px;">
      <h1 style="margin: 0 0 0 20px; font-weight: bold; padding: 10px;">Uniformes Profesionales</h1>
  </div>
  <div>
    <button *ngIf="!isLoggedIn" [routerLink]="['login']" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()" style="background-color: #dc3545; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Logout</button>
  </div>
</div>